body {
  background-color: #1e1e1e;
  color: #ffffff;
  font-family: Arial, sans-serif;
  padding: 20px;
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#header-container {
  display: flex;
  align-items: center;
  background-color: #333;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
  justify-content: space-between;
}

#toggle-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 6px;
  justify-content: space-between;
}

h4 {
  font-size: 18px;
  margin: 0;
  margin-right: 10px;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #555;
  transition: 0.4s;
  border-radius: 24px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 3px;
  background-color: #ffffff;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #007bff;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
}

button:hover {
  background-color: #0056b3;
}

#action-btn-container {
  display: flex;
  align-items: center;
  background-color: #333;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
  gap: 12px;
}
